template(name="moduleModifiers")
  h3 Modifier Combos
  table.table.table-hover.table-bordered.table-condensed.table-striped.table-responsive
    thead
      tr
        th Keys / Modifiers
        each prefixes
          th
            code
              each modifiers
                | {{{this}}}
            = name
    tbody
      each letters
        tr
          td 
            code {{{name}}}
            = spoken
          each prefixCombos
            +enabledModifier

template(name="enabledModifier")
  td.modifierCell
    label.modifierLabel
      input(type="checkbox" class="modifierCheckbox" checked=enabled)
      small= name

