template(name="Modules")
  .container
    h1 Command Modules
      small Enable / disable optional commands
    p.lead 
      | You must save changes for them to take effect.
      | Then go to: 
      a(href="/updates") Updates 
      | to synchronize Dragon Dictate.

    .well
      +each modules
        +commandModule
    //- +Template.dynamic(template=getModuleTemplate)
    if showModifiers
      +moduleModifiers
    else
      +moduleGeneric

template(name="commandModule")
  .commandTag(class="{{currentClass}}")= this