html, body {
  background: rgba(0, 0, 0, 0) !important;
  /*background: white;*/
}
body {
  padding-top: 13px !important;
  padding-left: 10px !important;
  padding-right: 15px !important;
}

.history-index {
  color: black
}
