.updatesPage
	.status
		display inline
		&.current
			color green
		&.dirty
			color red
		&.missing
			color blue
		&.removed
			color pink
	.action
		display inline

.smallButton
	display inline-block
	border 1px solid #888
	font-size 11px
	cursor pointer
	padding 2px 6px
	vertical-align middle
	line-height 13px
	border-radius 3px