template(name="History")
  .container
    h1 Command History
    
    table.table.table-hover.table-bordered.table-condensed.table-striped.table-responsive
      thead
        tr
          th Command Phrase
          th When
      tbody
        each previousCommands
          tr
            +previousCommandRow
    //- p Numbers are interpreted in a chain. So if you say: "two one", it understands "21", or "three oh two nine" => "3029". This applies for repeatable commands as well. So be careful not to say: "junk three fifty", when you actually want to just delete three characters then insert "50". "junk three fifty" == "DELETE x350"
    
template(name="previousCommandRow")
  td= name
  td= time