template(name="Home")
  .container
    h1 Welcome to VoiceCode!
    p.lead
      |  This interface is called "Commando" - the VoiceCode command/control center
    p
      | Eventually, you will be able to perform all your customizations through this interface.
