template(name="Mobile")
  .container
    h3 Speak into the textbox to control your computer!
    p.lead You can add vocabulary words into your iPhone by creating a new contact with the vocabulary word as its first name
    p Right now this is just for fun. Just open your phone's browser and go to: &lt;yourcomputer&gt;:5000/mobile
    p Once you've spoken something, just click execute, then you should see the action happen on your computer immediately. (be careful not to do anything bad!)
    .row
      .col.col-md-6
        textarea(id="phrase" class="form-control" rows="2")
        br
        a(href="#" id="interpret" class="btn btn-success btn-block") Execute
        span= currentPhrase