template(name="Updates")
  .container.updatesPage
    h1 Dragon Sync
    p.lead After each VoiceCode update, and whenever you add your own commands or enable/disable built-in commands, come here and run these synchronization scripts.
    .well
      p This feature depends on fairly intricate applescript communication with Dragon Dictate. Sometimes things don't work for no apparent reason, however it is always simply a matter of trying it a few times.
      p 
        | Usually the issue is with the commands in other scopes besides "Global", because Dragon's applescript API only recognizes those scopes when the actual application corresponding to the scope is activated
        |  - that is the reason for all the application switching going on when it is checking for the command statuses.
      p Things to do if the buttons below are not working:
      ul
        li Make sure dragon is in "command mode" rather than "dictation mode"
        li For each of the contexts besides "Global" make sure the corresponding application is already running
        li Open Dragon's "Show Available Commands" window
        li Restart Dragon Dictate
    h3 Don't worry, this page will be going away soon - It will be replaced by a direct integration that requires no interaction.
    a.btn.btn-primary#run Run Command Check
    h5 Or check commands for each application individually
    each dragonContexts
      a.btn#runScope= context

    h4 Needs Creating
    .well
      each dragonContexts
        h5
          =context 
          a.smallButton#createAll Create All These
        ul
          each added
            +commandNeedsUpdate
    h4 Needs Deleting
    .well
      each dragonContexts
        h5
          =context 
          a.smallButton#deleteAll Delete All These
        ul
          each removed
            +commandNeedsUpdate
    h4 Needs Updating
    .well
      each dragonContexts
        h5
          =context 
          a.smallButton#updateAll Update All These
        ul
          each dirty
            +commandNeedsUpdate
          
template(name="commandNeedsUpdate")
  li
    = name
    .status(class=status)= status
    a.smallButton#performAction= actionText
