template(name="Utility")
  .container
    h1 Utility Page
      small stuff you might need for setup and tweaking
    hr
    h3 Click a command below to see its setup details
    .well
      each commandNames
        +ChooseCommand
        | &nbsp;
    input.form-control#commandSearch(placeholder="Say: keeper [command name]" style="width:300px;display:inline;")
    a.btn.btn-primary#find Find
    br
    if currentCommand
      br
      a.btn.btn-info#findDragonCommand Reveal in Dragon interface 
      br
      h3 Dragon Base Command Name
        small goes into the [name] field. (Click in the box to select)
      pre.selectable #{dragonBaseCommandName}
      //- a.btn.btn-primary.runScript Run dragon command creation script
      //- span Make sure the Dragon Dictate commands window is already open before you do this
      //- br
      //- br
      //- a.btn.btn-warning#updateDragonCommand Update Dragon Command
      //- span Make sure the Dragon Dictate commands window is already open AND that the command is ALREADY selection in Dragon's interface!
      h3 Dragon Base Command
        small goes into Dragon's Shell Script window. (Click in the box to select)
      pre.selectable #{dragonBaseCommand}

template(name="ChooseCommand")
  div(class="clickable-command {{currentClass}}")= this