template(name="Vocab")
  .container
    h2 Vocab Page
    p.lead
      | Tip: Periodically return here to tune Dragon's algorithm.
    ul
      li make sure you have enabled the "dragtrain" command, from the tag "dragon" on the commands page
      li click in the gray area
      li say "dragtrain"
      li follow the prompt
    br
    .well.selectable
      = vocabList
      = keeperList
    h3 Phonetic Alphabet
    .well.selectable
      = phonetics
