template(name="Vocab")
  .container
    h2 Vocab Page
      small Tip: If you are ever having trouble with dragon not recognizing some of the special command words try refreshing this page and copying all the words into a new text file, and importing that text file into dragon's vocabulary training. This will tell dragon to update its algorithms and prioritize these words more highly.
    .well #{vocabList}
