template(name="Vocab")
  .container
    h2 Vocab Page
    p.lead
      | Tip: Periodically return here to tune Dragon's algorithm.
    ul
      li click in the gray area
      li copy all the text (stoosh)
      li switch to Dragon Dictate (fox dragon)
      li open a new "notepad", and paste the text (chommnerb...spark)
      li select all (olly)
      li 
        | open 
        code Tools &gt; Train Vocabulary From Selection
    br
    .well.selectable
      = vocabList
      = repeatableList
      = keeperList
    h3 Phonetic Alphabet
    .well.selectable
      = phonetics
